trigger:
- '*'

variables:
  buildConfiguration: 'Release'
  webRepository: 'web'
  tag: '$(Build.BuildId)'

stages:
- stage: 'Build'
  displayName: 'Build the web application'
  jobs: 
  - job: 'Build'
    displayName: 'Build job'
    pool:
      vmImage: 'ubuntu-16.04'
      demands:
        - npm

    variables:
      wwwrootDir: 'Tailspin.SpaceGame.Web/wwwroot'
      dotnetSdkVersion: '3.1.100'

    steps:
    - task: AzureCLI@2
      inputs:
        azureSubscription: 'VS Ent-MPN-ODiaz(972e401d-226e-48c7-a463-6d562c39edda)'
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: |
          az group create --name "$(rgName)" --location eastus
          az acr create --name "$(registryName)" --resource-group $rgName --sku Standard --admin-enabled true
          az appservice plan create --name $(planNameLinux)" --resource-group "$(rgName)" --sku B1 --is-linux
          az webapp create --name "$(webNamelinux)" --resource-group "$(rgName)" --plan "$(planNameLinux)" --deployment-container-image-name $registryName.azurecr.io/web:latest

    - task: Docker@2
      displayName: 'Build and push the image to container registry'
      inputs:
        containerRegistry: 'Container Registry Connection'
        repository: '$(webRepository)'
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile'
        buildContext: '$(Build.Repository.LocalPath)'
        tags: '$(tag)'



- stage: 'Deploy'
  displayName: 'Deploy the container'
  dependsOn: Build
  jobs:
  - job: 'Deploy'
    displayName: 'Deploy job'
    pool:
      vmImage: 'ubuntu-16.04'
    variables:
    - group: Release
    steps:
    - task: AzureWebAppContainer@1
      inputs:
        azureSubscription: 'VS Ent-MPN-ODiaz(972e401d-226e-48c7-a463-6d562c39edda)'
        appName: '$(webNamelinux)'
        containers: '$(RegistryName)/$(webRepository):$(build.buildId)'